@tailwind base;
@tailwind components;
@tailwind utilities;

.boska {
  font-family: 'Boska', serif;
}

* {
  font-family: 'Switzer', sans-serif;
  /* border: 1px solid red; */
}


/* swiper styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.clippy {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}